@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
    --menu-char: black;
}

* {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: var(--menu-char);
    margin-top:5px;
    padding: 0;
}

#menu ul {
    list-style: none;
}

#menu ul li {    
    display: inline;
    width: 1535px;
    height: 200px;
    margin-left: 100px;
}

#menu #box1 {
    margin-left: 400px;
}

#menu #logo{
    width: 120px;
    height: 50px;
}

#menu #box5 {
    margin-left: 250px;
}

#menu #box6 {
    background-color: #FFCD6B;
    opacity: 75%;
    width: 200px;
    height: 100px;
}



/* #image {
    position: absolute;
    width: 1519px;
    height: 680px;
    left: 0px;
    top: 139px;
    background-repeat: no-repeat;
    background-image: url(https://cimg1.ibsrv.net/ibimg/hgm/2000x1125-1/100/402/2013-aston-martin-db9_100402669.jpg);
}

.search-bar {
    position: absolute;
    background-color: #FFCD6B;
    width: 488px;
    height: 500px;
    margin-left: 30px;
    opacity: 75%;
}

.bar1 {
    margin-top: 200px;
} */
